.nav {
  display: flex;
  justify-content: space-between;
  background-color: limegreen;
  color: white;
  padding: 15px;
  font-size: 2em;
}
.nav a {
  color: white;
  text-decoration: none;
}

.card {
  float: left;
  width: 400px;
  height: 550px;
  text-align: center;
  font-family: fantasy
  margin: 10px 20px;
  color: white
}

body{
  background-color: black;
}
.bar{
  align-items: center;
}